html,body{width:100%;height:100%}

h1 {
    font: 300 90px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    text-align: center;
}

body {
    background-color:red;
    display: block;
    text-align: center;
    margin: 0, auto;
}

input {
  width: 50%;
  font-size: 1.2rem;
  padding: 0.2rem 0.2rem;
  margin-bottom: 5rem;
  border-color: green;
  box-shadow: green;
}

input:focus {
    border-color: green;
    outline: 0; 
    -webkit-box-shadow: inset 0 2px 2px rgba(12, 204, 124, 0.6), 0 0 12px rgba(12, 204, 124, 0.6); 
    box-shadow: inset 0 2px 2px rgba(12, 204, 124, 0.6), 0 0 8px rgba(11, 185, 113, 0.6); 
}  

.submit-button {
	background-color:#44c767;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Cookie-bold;
	font-size:28px;
	padding:2px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.submit-button:hover {
	background-color:#5cbf2a;
}

.submit-button:active {
	position:relative;
	top:1px;
}
  
  #snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 26px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}

.snowflake:hover {
    cursor: default;
}

